html {
    margin: 0;
    padding: 0;
  }

.container{
    max-width: 780px;
	margin: 0 auto;
	background: url(../image/pinkguy-head.png) left bottom repeat-x, url(../image/pinkguy-head.png) left top repeat-x;
	padding-top: 5px;
	padding-bottom: 25px;
	padding-left: 20px;
	padding-right: 20px;


}


  body {
    max-width: 780px;
    margin: 0 auto;
    font-size: 18px;
    font-family: "kiwi maru",  sans-serif;
    background-color: rgb(168, 94, 94);
    color: rgb(66, 7, 7);
  }

  header {
    width: 780px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-family: "kiwi maru",  sans-serif;
    text-shadow: 2px 2px 4px #000000;  
    background:url(../image/jojibanner-redeco.png) right bottom no-repeat ,rgb(112, 10, 10);  
  }

  .nav{
    margin-top: 30px;
    display: flex ;
    color: white;
}

.nav-list{
    list-style: none; 
    margin-right: 10px;
}

nav ul li a:link, nav ul li a:active, nav ul li a:visited{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

nav ul li a:hover{
    background-color: #000000;
    /* text-decoration: underline; */
    color: #fff;
    transition: 0.7s;
}

.content-area{
    display:flex;
}
article h2::after {
    content: "\266A"; /* Insert content that looks like bullets */
}
article h2 {
    border-style: hidden hidden hidden solid;
    border-width: 25px;
    border-radius: 15px

}
article{
    flex:2;
    min-height: 500px;
    padding-top: 20px;
    padding-left: 20px;
    margin: 0px;
}

aside{
    flex: 1;
    min-height: 500px;
    padding-top: 20px;
    padding-left: 20px;
    margin: 0px;
    border-left: 2px solid rgb(112, 10, 10);
}
aside ul{  
      list-style: none;

}

aside li::before {
    content: "\2665"; /* Insert content that looks like bullets */
    padding-right: 5px;
    color: rgb(112,10,10); /* Or a color you prefer */
    
}

aside ul li a:link, aside ul li a:active, aside ul li a:visited{
    color: rgb(112, 10, 10);
    text-decoration: none;
    font-size: 1.2rem;
}

aside ul li a:hover{
    background-color: #000000;
    /* text-decoration: underline; */
    color: #fff;
    transition: 0.7s;
}


footer{
    width: 780px;
    height: 40px;
    padding-top: 20px;
    background-color: rgb(112, 10, 10) ;
    color: white;
    font-family: "kiwi maru",  sans-serif;
    text-shadow: 2px 2px 4px #000000;   
}

.fixedbutton {
    position: fixed;
    bottom: 0;
    right: 0;
}

